/* RegistrarProducto.module.css */

.formContainer {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5e9fc;
}

.form {
  display: flex;
  flex-direction: column;
}

.titleForm {
  font-size: 20px;
  text-align: center;
  color: #6743dd;
}

.inputContainer {
  margin-bottom: 15px; /* Espacio entre los elementos */
}

.label {
  margin-bottom: 5px;
  font-weight: 400;
  color: #6743dd;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; /* Para que ocupe todo el ancho disponible */
}

.textInput {
  color: #6743dd;
}

.textAreaInput {
  color: #6743dd;
  resize: vertical;
}

.numberInput {
  color: #6743dd;
}

.fileInput {
  color: #6743dd;
}

.button {
  padding: 10px;
  background-color: #6743dd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #7e5cee;
}

/* .submitButton {

  } */

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
