
.nosotros {
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: rgb(247, 247, 247);   
    height: 80%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nosotros h1{
    font-family: 'Segoe UI';
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.nosotros p{
    font-family: 'Segoe UI';
    font-weight: 400;
    justify-content: center;
}

.container1{
    text-align: center;
    width: 40%;
}

.teamContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    gap: 20px;

}

.teamContainer h2{
 margin-top: 10px;
    font-family: 'Segoe UI';
    font-weight: 300, bold;
    font-size: 20px;
}
.teamMember {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
}

.memberPhoto {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
}


@media (max-width: 768px) {
    .nosotros {
        flex-direction: column; 
        height: auto; 
    }

    .nosotros h1{
        line-height: 1;
    }

    .container1 {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .teamContainer {
        width: 100%; 
    }
}

