.categorySection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 999;
}

.categoryCard {
  width: 18%;
  border: none;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  background-color: #f5e9fc;
  text-align: center;
  margin: 10px;
}

.categoryCard:hover .categoryDescription {
  display: block;
}

.categoryTitle {
  font-size: 15px;
  color: black;
}

.categoryDescription {
  position: absolute;
  bottom: -30px;
  left: 50%;
  font-size: 9px;
  transform: translateX(-50%);
  width: 80%;
  display: none;
}

.categoryCard.selected {
  background-color: rgba(124, 185, 75, 0.3);;

}

@media only screen and (max-width: 768px) {
  .categoryCard {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .categoryCard {
    width: 100%;
    flex-direction: column;
  }
}