.productGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

.paginationControls {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
}

.productGrid> :nth-child(n + 10) {
  display: none;
}