.productCard {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 30%;
  height: 250px; /* Mantén la altura fija */
  margin-right: 2%; /* Espaciado entre tarjetas */
}

.productImage {
  flex: 2;
}

.productImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em; /* Ajusta el padding usando medidas relativas */
  text-align: center;
  background-color: #f5e9fc;
  height: 100%;
  width: 135px;
  gap: 13px;
}

.productDetails h3 {
  font-size: 1em; /* Ajusta el tamaño de fuente usando medidas relativas */
  margin-top: 0;
}

.detailButton {
  background-color: #795af6;
  color: white;
  border: none;
  padding: 0.3em 0.3em; /* Ajusta el padding usando medidas relativas */
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  font-size: 1em; /* Ajusta el tamaño de fuente usando medidas relativas */
  width: 100px;
}

.detailButton:hover {
  background-color: #6743dd;
  border: none;
}

.detailButton:focus,
.detailButton:active {
  outline: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .productCard {
    width: 350px;
    height: 200px;
    margin-right: 0; /* Elimina el margen entre tarjetas en dispositivos móviles */
    margin-bottom: 20px; /* Añade margen inferior para separar las tarjetas */
  }

  .productDetails {
    padding: 1em; /* Ajusta el padding usando medidas relativas */
  }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
  .productCard {
    width: 45%;
  }
}

