.schedulerContainer {
  padding: 20px;
}

.calendar {
  height: 700px;
}

.disabled {
  background-color: #f5f5f5;
  color: #ccc;
  pointer-events: none;
  opacity: 0.6;
}

.enabled {
  cursor: pointer;
  background-color: rgba(181, 212, 160, 0.2);
}

.today {
  background-color: #cce5ff;
  color: #004085;
}

.selected {
  background-color: rgba(234, 202, 240, 0.2);
  color: #7B5BF5;
}