.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;   
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
  
  }

  .inputContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;

  }
  
  .titulo{
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
  }

  .input{
    width: 100%; 
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 16px;
 
  }
  .modalContent {
    background: white;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 50px;
    cursor: pointer;
  }
  


  .submit{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    height: auto;
    cursor: pointer;
    background-color: #f5e9fc;
    text-align: center;
    color: #6743dd;
    border: none;
    font-size: 18px;
   margin-top: 20px;
   
  }