.favsList {
  display: flex;
  justify-content: center; /* Centra el contenedor */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten a la línea según el ancho disponible */
  gap: 16px; /* Espacio entre tarjetas */
  padding: 4rem;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh; /* 100% de la altura de la vista */
  font-size: 20px;
  margin: 0; /* Asegúrate de que no haya márgenes adicionales */
}

.title1 {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-weight: 200;
  font-size: 35px;
  color: #ca63d1;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura total de la vista */
}

