.granContenedor {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  margin: 0 auto;
   
}

.contenedor1 {
  font-family: "Segoe UI";
  line-height: 1.5;
}

.contenedor1 h2 {
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.contenedor1 p {
  font-size: 20px;
  color: black;
}

.contenedor2 h2 {
  font-weight: bold;
  font-size: 30px;
}

.contenedor2 p {
  font-size: px;
}

.formContact{
  font-size: 20px;
  gap: 10px;
  margin-top: 20px;
}
form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-size: 16px;
}

form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-size: 16px;
}
form button {
  border-radius: 8px;
  padding: 20px;
  height: auto;
  cursor: pointer;
  background-color: rgba(104, 202, 24, 0.3);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: 20px;
}
