.detailContainer {
  margin: 0 auto;
}

.productHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #795af6;
  padding: 2rem 4rem 2rem 4rem;
}

.productTitle {
  margin: 0;
  color: white;
  font-size: 35px;
}

.productBody {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem 0rem 4rem;
}

.productDescription {
  width: 40%;
  font-size: 20px;
  color: #795af6;

}


.productImage img {
  width: 400px;
  height: 400px;
  border-radius: 4px;
  object-fit: cover;
}

.contCarac {
  padding: 4rem 0rem 4rem 0rem;
  display: flex;
  justify-content: center;
}

.productCharacteristics {
  width: 1280px;
  border: 1px solid #f5e9fc;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characteristic {
  padding: 10px;
  box-sizing: border-box;
}

.characteristicItem {
  display: flex;
  align-items: center;
  gap: 2px;
}

.characteristicItem p {
  margin-left: 5px;
  font-size: 20px;
  color: #795af6;
  /* Ajusta el espaciado entre el icono y el texto según sea necesario */
}

.caractTitle {
  font-size: 25px;
  color: #795af6;
  padding: 45px 0px 0px 45px;
}




/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .productHeader {
    padding: 1rem;
    /* Reducir el padding para dispositivos móviles */
  }

  .productTitle {
    font-size: 24px;
    /* Reducir el tamaño de la fuente para dispositivos móviles */
  }

  .productBody {
    flex-direction: column;
    /* Cambiar la dirección del flexbox para dispositivos móviles */
    gap: 1rem;
    /* Agregar espacio entre los elementos */
    padding: 1rem;
    /* Reducir el padding para dispositivos móviles */
  }

  .productDescription {
    width: 100%;
    /* Ocupar todo el ancho disponible */
    font-size: 16px;
    /* Reducir el tamaño de la fuente para dispositivos móviles */
  }

  .productImage img {
    width: 100%;
    height: auto;
  }

  .productCharacteristics {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
  }

  .characteristicItem p {
    font-size: 16px;
    /* Reducir el tamaño de la fuente para dispositivos móviles */
    margin-left: 0;
    /* Eliminar el margen izquierdo */
  }

  .contCarac {
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Altura total de la vista */
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
  .productBody {
    gap: 1rem;
    /* Agregar espacio entre los elementos */
  }
}