footer {
  display: flex;
  background-color: #f5e9fc;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

footer p {
  font-size: 10px;
  margin: 0;
  margin-top: auto;
}

footer img {
  width: 100px;
  height: 50px;
}

footer ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 30px;
  margin: 0;
}

.social-icons {
  padding: 0 0 0 0;
}



@media (max-width: 768px) {

  footer {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;


  }

  footer p {
    font-size: 8px;
    order: 3;
  }


}

@media (max-width: 344px) {

  footer {
    flex-direction: column;
    gap: 20px;
  }

  footer img {
    width: 100px;
  }

  .social-icons {
    order: 2;
    justify-content: center;

  }


  footer p {
    order: 3;
  }
}