.granContenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    height:max-content;
    font-family: 'Segoe UI';
}

.loading{
    display: flex;
    height:max-content;  
    font-family: 'Segoe UI';
    height: 900px;
    justify-content: center;
    margin-top: 150px;
    font-size: 20px;
}
.granContenedor h2 {
    font-size: 28px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
 
}

.juegoContenedor {
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
}

.juegoContenedor:hover {
    transform: translateY(-5px);
}

.imagenJuego {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.juegoInformacion {
    flex: 1;
    
}

.juegoNombre {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    
}

.juegoDetalles {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 8px;
    line-height: 1;
    
  
}

.juegoDetalles strong {
    color: #333;

}

 
  .botonConfirmada {
    background-color: #7FBB4F;
    color: white; 
    padding: 8px 16px;
    border-radius: 5px;
    margin-left: auto; 
  }
  .botonFinalizada {
    background-color: #CB63D2;
    color: white; 
    padding: 8px 16px;;
    border-radius: 5px; 
  }

@media (max-width: 768px) {
    .juegoContenedor {
        flex-direction: column;
        align-items: flex-start;
    }

    .imagenJuego {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .granContenedor {
        padding: 10px;
    }
}

@media (max-width: 390px) {
    .juegoContenedor {
        width: 90%; 
    }
}
