.granContenedor{
    height: 900px;
    width: 100%;
    border: 1px red solid;
}

.info h3{
    color: rebeccapurple;
}


.reserva{ 
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; 
    max-width: 1200px;
    border-radius: 10px;
    gap: 40px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px blue solid;
}
.error { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';
    text-align: center;
    padding: 10px; 
    margin: 20px;
    background-color: rgb(247, 247, 247);     
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1200px;
}